.container {
    width: 100%;
    position: relative;
    padding: 1em var(--hp);
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--gray);
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: var(--dark-gray);
    }
    &::-webkit-scrollbar-track {
        background-color: transparent;
    }
}
