.toast-mask {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background-color: rgba(37, 42, 52, 0.25);
    z-index: 2000;
}

.toast {
    position: relative;
    min-width: 260px;
    max-width: min(540px, 80%);
    padding: 2rem 2rem;
    background-color: #fff;
    box-shadow:
        -3px 2px 5px 2px rgba(37, 42, 52, 0.4),
        3px 2px 5px 2px rgba(37, 42, 52, 0.4);
    border-radius: 5px;
    .close {
        position: absolute;
        top: 0.6rem;
        right: 0.6rem;
        svg {
            display: block;
            cursor: pointer;
        }
        svg > * {
            fill: var(--black);
        }
    }
    p {
        font-size: 1rem;
        line-height: 18px;
    }
}
