.song-page {
    transition: transform 0.4s ease;
    .song-wrapper {
        position: sticky;
        top: -1em;
        background-color: #fff;
        z-index: 100;
        cursor: default;
    }
    .mbox {
        max-height: 40vh;
        bottom: -1em;
        padding-top: 0;
        overflow-y: auto;
        & > h1 {
            position: sticky;
            top: 0;
            margin: 0;
            padding-top: 2rem;
            padding-bottom: 1rem;
            background-color: #fff;
        }
    }
}

.gratitude {
    margin-bottom: 1rem;
}
